streamlit==1.24.0
streamlit-option-menu==0.3.2
Pillow==9.4.0  # Pillow version below 10 for Streamlit compatibility
google-generativeai==0.1.0
streamlit-extras==0.4.7  # The latest available version
requests==2.31.0

